<div class="one-item">
  <div class="news">
    <div class="sidenav">
      <% @products.each do |p| %>
        <%= button_to p.name, get_product_path(p.id), remote: true %>
      <% end %>
    </div>

    <div class="main">
      <h2><%= @product.name %></h2>
      <p><%= @product.note %></p>
      <p><%= @product.price %></p>
    </div>
  </div>
</div>