<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>News Edit <small>update news.</small></h5>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>
