<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Product Edit <small>update product.</small></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to '/product index', products_path %>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <%= render "form" %>
    </div>
  </div>
</div>
