<div class="wrapper gray-bg" style="min-height: 100%; min-width: 100%;">
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Performance New <small>create performance.</small></h5>
          </div>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>