<div class="wrapper gray-bg">
  <% if current_account %>
    <li>
      <%= link_to('Logout', destroy_account_session_path, method: :delete, class: "btn btn-w-m btn-default") %>
    </li>
  <% end %>
</div>